<!--include header-->

<%-include('include/_header')%>

<!--include header-->

<!--main site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <!-- <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New user<i class="fa fa-user"></i></span>
            </a> -->

            <div class="filter">
                <a href="/"><i class="fa fa-angle-double-left"></i>All users</a>
            </div>
        </div>
        <div>
            <i class="fa fa-phone fa-4x fa-spin" style="margin-left: 45%;"></i>
        </div>
        <div class="form-title text-center">
            <h2 class="text-center">New user</h2>
            <span class="text-light"></span>
        </div>
  
      <!--include form-->

<%-include('include/_form')%>

<!--include form-->

  

   
</div>
</main>
<!--main site-->

<!--include footer-->
<%-include('include/_footer')%>

<!--include footer-->